@tailwind base;
@tailwind components;
@tailwind utilities;

.board {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  align-items: center;
  margin-top: 130px;
}

.line {
  display: flex;
  gap: 5px;
}

.tile {
  width: 70px;
  height: 70px;
  border: 1px solid black;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}
